* {
	box-sizing: border-box;
}
/* OKAY SO IN CSS --> THIS * WILL SELECT EVERYTHING!! UNIVERSAL SELECTOR
    ^^^ CODE IS CREATING A BORDER BOX AROUND EVERY ELEMENT
   */

:root {
	--primary-color: #3c5aa6;
	--secondary-color: #c7a008;
	--dark-grey: #2b2b2b;
	--black: #000;
	--white: #FFFFFF;
	--primary-font: 'Lato', sans-serif;
  --primary-font-color: #ffcb05;
	--primary-font-weight: 400;
	--primary-font-size: 16px;
	--header-font-weight: 700;
}


/*
CSS variable defined by two ( -- )infront of name
SASS variable defined by ( $ ) before name
 Colors used

Primary color: Dark blue
Secondary color: Yellow Shadow
--primary-font-color: #ffcb05; (yellow)


 */

body {
	background-color: var(--primary-color);
	font-family: var(--primary-font);
	font-weight: var(--primary-font-weight);
	font-size: var(--primary-font-size);
  	/* Sets the font size to 16px */
  	line-height: 1.6;
  	/* Sets the line-height to 1.6 */
}

/* CSS styling for pokedex buttons */
.pokemon-list-button {
  background-color: black;
  color: var(--primary-font-color);
  padding: 10px;
  border: 2px solid var(--secondary-color);
  text-align: center;
  font-size: var(--primary-font-size);
}



h1 {
  font-size: 30px;
  font-weight: var(--header-font-weight);
  font-style: italic;
  color: black;
  text-decoration: underline;
}

h2 {
  font-size: 24px;
  font-weight: var(--header-font-weight);
}

h3 {
  font-size: 18px;
  font-weight: var(--header-font-weight);
}


@media all and (max-width: 500px) {
	.project-list {
		grid-template-columns: 1fr;
	}
}


@media all and (min-width: 500px) and (max-width: 750px) {
	.project-list {
		grid-template-columns: 1fr 1fr;
	}
}

@media all and (max-width: 750px) {
	.project-list {
		grid-gap: 10px;
	}
	.project-list_item:last-child {
		grid-column: auto / auto;
		grid-row: auto / auto;
	}

	h1 {
		font-size: 22px;
	}
}
